body{
   background-image:url(shockwavelog3-810x405.png);
}
#test {
   background-color:#1BA261;
   color:#ffffff;
   padding: 15px;
   margin: 15px;
   border: 1px solid lime;
   border-radius: 50px;
   box-shadow: 13px 13px 7px #000000;
}

#inform {
   background-color:#1BA261;
   color:#ffffff;
   padding: 15px;
   margin: 15px;
   border: 1px solid lime;
   border-radius: 50px;
   box-shadow: 13px 13px 7px #000000;
   height: 30px;
}

#opisanie {
   background-color:#1BA261;
   color:#ffffff;
   padding: 15px;
   margin: 15px;
   border: 1px solid lime;
   border-radius: 50px;
   box-shadow: 13px 13px 7px #000000;
   height: 200px;
}